<div class="card card-teaser white-bg shadow-sm rounded border border-light h-100 d-block">
  <div class="card-body">
    <h3 class="card-title text-paragraph-medium">{{ label }}</h3>
    <div class="text-paragraph-card u-grey-light m-0">
      {% if content.field_unita_organizzativa[0] is not empty %}
        <div class="mb-1"><span class="fw-bold">Presso:</span>
          <p>
            {% for item in content.field_unita_organizzativa["#items"] %}
                <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" title="Vai al contenuto {{ item.entity.label }}">{{ item.entity.label }}</a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
      {% endif %}
      {% if content.field_data_insediamento[0] is not empty %}
        <div class="mb-1"><span class="fw-bold">Data insediamento:</span> {{ content.field_data_insediamento }}</div>
      {% endif %}
    </div>
  </div>
  <a class="read-more bottom-0 position-relative d-block mt-4" href="{{ url }}" title="Vai al contenuto {{ node.label }}"> <span class="text">Ulteriori dettagli</span>
      <svg class="icon ms-0">
          <use href="#it-arrow-right" />
      </svg>
  </a>
</div>