<div class="card card-teaser no-after rounded shadow-sm mb-0 border border-light h-100 pb-5">{{ title_suffix }}

  <div class="container p-0 pb-5">
    <div class="row m-0 gap-3">

      <div class="col p-0">
        <div class="card-body">
          <div class="category-top d-flex gap-2">
            <svg class="icon">
              <use href="#it-pin" xlink:href="#it-pin"></use>
            </svg>
            <div class="title-xsmall-semi-bold fw-semibold mt-1">{% for item in content.field_tipo_di_luogo["#items"] %}{{ item.entity.name.value }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
          </div>
          <h3 class="card-title text-paragraph-medium u-grey-light">{{ label }}{% if content.field_nome_alternativo[0] is not empty %}{{ content.field_nome_alternativo[0] }}{% endif %}</h3>
        </div>
      </div>

    </div>
















      



    

    <div class="row mb-3 mx-0">
      <div class="col p-0">
        <p class="text-paragraph-card u-grey-light m-0">{{ content.field_descrizione_breve[0] }}</p>
      </div>
    </div>

    
  </div>

  <div class="position-absolute start-0 bottom-0 mb-5 pb-2 mx-3 text-paragraph-card u-grey-light m-0 mt-5 d-flex">
    <svg class="icon"><use href="#it-map-marker-circle"></use></svg>
    <a class="fw-bold px-2" target="_blank" href="https://www.google.com/maps/place/{{ content.field_indirizzo[0]["#context"].value|replace({' ': "+"}) }},{{ content.field_cap[0]["#context"].value }}">{{ content.field_indirizzo[0]["#context"].value }}</a>
  </div>

  <a class="read-more" href="{{ url }}">
    <span class="text">Vai alla pagina</span>
    <svg class="icon ms-0">
      <use xlink:href="#it-arrow-right"></use>
    </svg>
  </a>

</div>