{% include directory ~ '/templates/breadcrumb/breadcrumb-pagina.html.twig' with {'content': content, 'label': label} %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{% set isFront = (path('<current>') == '/homepage') %}
<article{{ attributes.addClass(classes) }}>
  <div class="container page-name {% if isFront %}visually-hidden{% endif %}">
    <div class="row justify-content-center row-shadow">
      <div class="col-12 col-lg-10">
        <div class="cmp-hero">
          <section class="it-hero-wrapper bg-white align-items-start">
            <div class="it-hero-text-wrapper pt-0 ps-0 mb-5">
              <h1 class="text-black hero-title" data-element="page-name">{{ node.label }}</h1>
              {% if content.field_descrizione_breve %}
                <div class="hero-text">{{ content.field_descrizione_breve }}</div>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  {{ content|without('field_descrizione_breve') }}

  {% if not isFront and node.changed[0] %}
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div id="ultimo-aggiornamento">
          <h5 class="font-serif">Ultimo aggiornamento</h5>
          <p class="h6"><strong>{{ node.changed[0].value | format_date('medium') }}</strong></p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</article>
