<div class="card card-teaser no-after rounded shadow-sm mb-0 border border-light h-100">{{ title_suffix }}

  <div class="container p-0 pb-5">
    <div class="row m-0 gap-3 mb-1">

      <div class="col p-0">
        <div class="card-body">
          <div class="category-top d-flex gap-2">
            <svg class="icon">
              <use href="#it-card" xlink:href="#it-card"></use>
            </svg>
            <div class="title-xsmall-semi-bold fw-semibold mt-1">{% for item in content.field_tipo_di_incarico["#items"] %}{{ item.entity.name.value }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
          </div>
          <h3 class="card-title text-paragraph-medium u-grey-light mb-0">{{ label }}</h3>

          {% if content.field_unita_organizzativa[0] is not empty %}
            <div class="text-paragraph-card u-grey-light mt-3">
              <span class="fw-bold">Presso:</span>
              <p class="mb-0">
                {% for item in content.field_unita_organizzativa["#items"] %}
                    <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" title="Vai al contenuto {{ item.entity.label }}">{{ item.entity.label }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
              </p>
            </div>
          {% endif %}

          {% if content.field_data_inizio_incarico[0] is not empty %}
            <div class="text-paragraph-card u-grey-light mt-3">
              <span class="fw-bold">Data inizio incarico:</span>
              <p class="mb-0">
                <span>{{ content.field_data_inizio_incarico['#items'].0.value|date('d') }}</span>
                <span>{{ content.field_data_inizio_incarico['#items'].0.value|date('F')|t({}, {'context' : 'Long month name'}) }}</span>
                <span>{{ content.field_data_inizio_incarico['#items'].0.value|date('Y') }}</span>
              </p>
            </div>
          {% endif %}

        </div>
      </div>











    </div>

    <div class="row mb-3 mx-0">
      <div class="col p-0">

        

        
      </div>
    </div>


  </div>

  <a class="read-more" href="{{ url }}">
    <span class="text">Vai alla pagina</span>
    <svg class="icon ms-0">
      <use xlink:href="#it-arrow-right"></use>
    </svg>
  </a>
  
</div>