<div class="accordion-item border-bottom">
  <h2 class="accordion-header" id="heading-{{node.nid.value}}">
    <button class="accordion-button d-flex justify-content-between p-3 px-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{node.nid.value}}" aria-expanded="{{ aria_expanded }}" aria-controls="collapse-{{node.nid.value}}">
      {{node.title|view}}
      <div class="icon-wrapper">
        <svg class="icon me-1 icon-primary"><use href="#it-collapse" xlink:href="#it-collapse"></use></svg>
      </div>
    </button>
  </h2>
  <div id="collapse-{{node.nid.value}}" data-bs-parent=".accordion" class="{{ show }} accordion-collapse collapse p-0 pt-1" role="region" aria-labelledby="heading-{{node.nid.value}}">
    <div class="accordion-body pt-3 pb-1 px-4">
      {{node.body|view}}
    </div>
  </div>
</div>