<div class="container mb-4 border-bottom pb-4">
  <div class="row">
    <div class="col-lg-8">

      {% include '@comuni_theme/templates/node/parts/node--parts--title.html.twig' with { 'title': node.label, 'data_element': 'service-title' } %}

      {% if content.field_stato_del_servizio[0] is not empty %}
        <ul class="d-flex flex-wrap gap-1 my-3">
          <li>
            <div class="chip {{ content.field_stato_del_servizio.0['#markup'] == 'On' ? 'chip-simple' : 'chip-simple chip-danger' }} text-button" data-element="service-status">
              <span class="chip-label">Servizio {{ content.field_stato_del_servizio.0['#markup'] == 'On' ? 'attivo' : 'non attivo' }}</span>
            </div>
          </ul>
        </li>
        {% if content.field_motivo_dello_stato[0] is not empty and content.field_stato_del_servizio.0['#markup'] == 'Off' %}
          <div class="subtitle-small mb-3 text-danger">
            {{ content.field_motivo_dello_stato }}
          </div>
        {% endif %}
      {% endif %}

      {% if content.field_descrizione_breve[0] is not empty %}
        <div class="mb-3">
          {% include '@comuni_theme/templates/node/parts/node--parts--descrizione-breve.html.twig' with { 'text': content.field_descrizione_breve[0]["#context"].value, 'data_element': 'service-description' } %}
        </div>
      {% endif %}

      {% if content.field_canale_digitale[0] is not empty %}
        <div class="cmp-heading">
          <a href="{{ content.field_canale_digitale[0]['#url'] }}" type="button" class="btn btn-primary fw-bold" data-focus-mouse="false">
            <span>{{ content.field_canale_digitale['#items'][0].title }}</span>
          </a>
        </div>
      {% endif %}

    </div>
    <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
      <div class="callout p-4 border-primary mt-0">
        <svg class="callout-title icon icon-primary flag-icon px-3 me-0"><use href="#it-info-circle"></use></svg>
        {{ drupal_block("social_sharing_buttons_block") }}
        {% include '@comuni_theme/templates/node/parts/node--parts--azioni.html.twig' %}
        {% include '@comuni_theme/templates/node/parts/node--parts--taxonomy-chips.html.twig' with { 'label': 'Argomenti', 'taxonomy': content.field_argomenti, 'data_element': 'service-topic' } %}
        {% include '@comuni_theme/templates/node/parts/node--parts--taxonomy-chips.html.twig' with { 'label': 'Categoria del servizio', 'taxonomy': content.field_categoria_del_servizio } %}
      </div>
    </div>
  </div>
  
</div>

<div class="container mt-5 pb-5">
  <div class="row">

    <div class="col-12 col-lg-3 border-right border-light px-0 mb-5 mb-lg-0">
      {% set indice_della_pagina = {
        'field_a_chi_rivolto': {
          'attivo': (content.field_a_chi_rivolto[0] is not empty),
          'titolo': (content.field_a_chi_rivolto["#title"]),
        },
        'field_descrizione_estesa': {
          'attivo': (content.field_descrizione_estesa[0] is not empty),
          'titolo': 'Descrizione'
        },
        'field_copertura_geografica': {
          'attivo': (content.field_copertura_geografica[0] is not empty),
          'titolo': (content.field_copertura_geografica["#title"]),
        },
        'field_come_fare': {
          'attivo': (content.field_come_fare[0] is not empty),
          'titolo': (content.field_come_fare["#title"]),
        },
        'field_cosa_serve': {
          'attivo': (content.field_cosa_serve[0] is not empty),
          'titolo': (content.field_cosa_serve["#title"]),
        },
        'field_cosa_si_ottiene': {
          'attivo': (content.field_cosa_si_ottiene[0] is not empty),
          'titolo': (content.field_cosa_si_ottiene["#title"]),
        },
        'field_promemoria_scadenze': {
          'attivo': (content.field_promemoria_scadenze[0] is not empty),
          'titolo': 'Tempi e scadenze',
        },
        'field_costi': {
          'attivo': (content.field_costi[0] is not empty or content.field_costi_allegati[0] is not empty),
          'titolo': 'Costi',
        },
        'field_procedure_collegate_esito': {
          'attivo': (content.field_procedure_collegate_esito[0] is not empty),
          'titolo': (content.field_procedure_collegate_esito["#title"]),
        },
        'field_canale_digitale': {
          'attivo': true,
          'titolo': 'Accedi al servizio'
        },
        'field_vincoli': {
          'attivo': (content.field_vincoli[0] is not empty),
          'titolo': (content.field_vincoli["#title"]),
        },
        'field_casi_particolari': {
          'attivo': (content.field_casi_particolari[0] is not empty),
          'titolo': (content.field_casi_particolari["#title"]),
        },
        'field_condizioni_di_servizio_par': {
          'attivo': (content.field_condizioni_di_servizio_par[0] is not empty),
          'titolo': (content.field_condizioni_di_servizio_par["#title"]),
        },
        'field_contatti': {
          'attivo': true,
          'titolo': 'Contatti',
        },
        'field_unita_org_responsabile': {
          'attivo': (content.field_unita_org_responsabile[0] is not empty),
          'titolo': 'Ufficio responsabile'
        },
        'field_documenti': {
          'attivo': (content.field_documenti[0] is not empty),
          'titolo': (content.field_documenti["#title"]),
        },
        'field_ulteriori_informazioni': {
          'attivo': (content.field_ulteriori_informazioni[0] is not empty),
          'titolo': (content.field_ulteriori_informazioni["#title"]),
        },
      } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--indice.html.twig' with { 'content': indice_della_pagina } %}
    </div>

    <div class="col-12 col-lg-8 offset-lg-1 it-page-sections-container">

      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_a_chi_rivolto'].titolo, 'content': content.field_a_chi_rivolto, 'id': 'field_a_chi_rivolto', 'data_element': 'service-addressed' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_descrizione_estesa'].titolo, 'content': content.field_descrizione_estesa, 'id': 'field_descrizione_estesa', 'data_element': 'service-extended-description' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_copertura_geografica'].titolo, 'content': content.field_copertura_geografica, 'id': 'field_copertura_geografica' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_come_fare'].titolo, 'content': content.field_come_fare, 'id': 'field_come_fare', 'data_element': 'service-how-to' } %}

      <div class="has-bg-grey shadow-sm rounded border border-light p-3 mb-5">
        {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_cosa_serve'].titolo, 'content': content.field_cosa_serve, 'id': 'field_cosa_serve', 'data_element': 'service-needed' } %}
      </div>

      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_cosa_si_ottiene'].titolo, 'content': content.field_cosa_si_ottiene, 'id': 'field_cosa_si_ottiene', 'data_element': 'service-achieved' } %}

      {% if content.field_promemoria_scadenze[0] is not empty %}
        <section class="it-page-section mb-5">
          <div class="cmp-timeline">
            <h2 class="title-xxlarge mb-3">Tempi e scadenze</h2>
            <div class="richtext-wrapper lora mb-2" data-element="service-calendar-text">
              {{ content.field_promemoria_scadenze }}
            </div>
            <div class="calendar-vertical mb-3" data-element="service-calendar-list">
              {{ content.field_fase_semplice }}
              {{ content.field_tempi_e_scadenze }}
            </div>
          </div>
        </section>
      {% endif %}

      {% if content.field_costi[0] is not empty or content.field_costi_allegati[0] is not empty %}
        <section class="it-page-section mb-5" data-element="service-cost">
          <h2 class="title-xxlarge mb-3" id="field_costi">{{ indice_della_pagina['field_costi'].titolo }}</h2>
          {% if content.field_costi[0] is not empty %}
            <div class="richtext-wrapper lora">
              {{ content.field_costi }}
            </div>
          {% endif %}
          
          {% include '@comuni_theme/templates/node/parts/node--parts--2-media.html.twig' with { 'content': (content.field_costi_allegati[0] is null ? null : node.field_costi_allegati) } %}
        </section>
      {% endif %}

      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_procedure_collegate_esito'].titolo, 'content': content.field_procedure_collegate_esito, 'id': 'field_procedure_collegate_esito' } %}

      <section class="it-page-section mb-30 has-bg-grey shadow-sm rounded border border-light p-4">
        <h2 class="mb-3" id="field_canale_digitale">Accedi al servizio</h2>
        {% if content.field_canale_digitale[0] %}
          <p class="text-paragraph lora mb-4" data-element="service-generic-access">Puoi accedere a {{ node.label }} direttamente online.</p>
          <a href="{{ content.field_canale_digitale['#items'][0].uri }}" type="button" class="btn btn-primary mobile-full" data-element="service-online-access">
            <span>{{ content.field_canale_digitale['#items'][0].title }}</span>
          </a>
          <p class="text-paragraph lora mt-4" data-element="service-generic-access">Oppure, puoi prenotare un appuntamento e presentarti presso gli uffici.</p>
        {% else %}
          <p class="text-paragraph lora mt-4" data-element="service-generic-access">Puoi prenotare un appuntamento e presentarti presso gli uffici.</p>
        {% endif %}
        <a href='/prenotazione-appuntamento' class="btn btn-outline-primary t-primary bg-white mobile-full" data-element="service-booking-access">
          <span>Prenota appuntamento</span>
        </a>
      </section>

      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_vincoli'].titolo, 'content': content.field_vincoli, 'id': 'field_vincoli' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--testo-libero.html.twig' with { 'label': indice_della_pagina['field_casi_particolari'].titolo, 'content': content.field_casi_particolari, 'id': 'field_casi_particolari' } %}

      {% if content.field_condizioni_di_servizio_par[0] is not empty %}
        <section class="it-page-section  mb-30" data-element="service-file">
          <h2 class="title-xxlarge mb-3" id="field_condizioni_di_servizio_par">Condizioni di servizio</h2>
          <p class="text-paragraph lora mb-3">Per conoscere i dettagli di scadenze, requisiti e altre informazioni importanti, leggi i termini e le condizioni di servizio.</p>
          
          {% include '@comuni_theme/templates/node/parts/node--parts--2-media.html.twig' with { 'label': null, 'content': (content.field_condizioni_di_servizio_par[0] is null ? null : node.field_condizioni_di_servizio_par) } %}
        </section>
      {% endif %}

      {% if content.field_contatti[0] is not empty or content.field_unita_org_responsabile[0] is not empty %}
        <section class="it-page-section">
          <div class="container p-0">
            <div class="row row-cols-lg-2 row-cols-1 g-4 mx-0">
              {% set contatti = [] %}
              {% if content.field_contatti[0] is not empty %}
                {#} servizio.field_contatti è popolato {#}
                {% set contatti = contatti|merge([content.field_contatti["#items"]|map(item => "#{item.target_id}" )|join(',')]) %}
              {% else %}
                {% for item in node.field_unita_org_responsabile %}
                  {% set tmp_field_contatti = drupal_field('field_contatti', 'node', item.target_id) %}
                  {% if tmp_field_contatti[0] is not empty %}
                    {#} unita_organizzativa.field_contatti è popolato {#}
                    {% set contatti = contatti|merge([tmp_field_contatti["#items"]|map(item => "#{item.target_id}" )|join(',')]) %}
                  {% else %}
                    {#} luogo.field_punti_di_contatto è popolato {#}
                    {% set field_sede_principale = drupal_field('field_sede_principale', 'node', item.target_id)["#items"][0] %}
                    {% set field_punti_di_contatto = drupal_field('field_punti_di_contatto', 'node', field_sede_principale.target_id) %}
                    {% set contatti = contatti|merge([field_punti_di_contatto["#items"]|map(item => "#{item.target_id}" )|join(',')]) %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% include '@comuni_theme/templates/node/parts/node--parts--1-card.html.twig' with { 'label': indice_della_pagina['field_contatti'].titolo, 'content': contatti|join(','), 'id': 'field_contatti' } %}
              
              {% include '@comuni_theme/templates/node/parts/node--parts--1-card.html.twig' with { 'label': indice_della_pagina['field_unita_org_responsabile'].titolo, 'content': (content.field_unita_org_responsabile["#items"] is null ? null : content.field_unita_org_responsabile["#items"]|map(item => "#{item.target_id}" )|join(',')), 'id': 'field_unita_org_responsabile' } %}
            </div>
          </div>
        </section>
      {% endif %}

      {% include '@comuni_theme/templates/node/parts/node--parts--2-card.html.twig' with { 'label': indice_della_pagina['field_documenti'].titolo, 'content': (content.field_documenti["#items"] is null ? null : content.field_documenti["#items"]|map(item => "#{item.target_id}" )|join(',')), 'id': 'field_documenti' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--ulteriori-informazioni.html.twig' with { 'label': indice_della_pagina['field_ulteriori_informazioni'].titolo, 'content': content.field_ulteriori_informazioni, 'id': 'field_ulteriori_informazioni' } %}
      {% include '@comuni_theme/templates/node/parts/node--parts--ultimo-aggiornamento.html.twig' with { 'content': node.changed } %}
    </div>
  </div>
</div>

<script data-element="metatag" type="application/ld+json">
  {% if node.field_copertura_geografica.value %}
    {% set areaServed = node.field_copertura_geografica.value|raw|striptags|trim %}
  {% endif %}
  {% if node.field_a_chi_rivolto.value %}
    {% set audience = node.field_a_chi_rivolto.value|raw|striptags|trim %}
  {% endif %}
  {% if content.field_unita_org_responsabile['#items'][0].entity.field_sede_principale.entity.field_indirizzo.value %}
    {% set streetAddress = content.field_unita_org_responsabile['#items'][0].entity.field_sede_principale.entity.field_indirizzo.value|raw|striptags %}
  {% endif %}
  {
    "name": "{{ node.label }}",
    "serviceType": "{{ drupal_field('name', 'taxonomy_term', node.field_categoria_del_servizio.value[0]['target_id'])[0]['#context']['value'] }}",
        "serviceOperator": {
      "name": "{{ node.field_codice_dell_ente_erogatore.value }}"
    },
    "areaServed": {
      "name": "{{ areaServed }}"
    },
    "audience": {
      "name": "{{ audience }}"
    },
    "availableChannel": {
      "serviceUrl": "{{ url }}",
      "serviceLocation": {
        "name": "{{ content.field_unita_org_responsabile['#items'][0].entity.title.value }}",
        "address": {
          "streetAddress": "{{ streetAddress }}",
          "postalCode": "{{ content.field_unita_org_responsabile['#items'][0].entity.field_sede_principale.entity.field_cap.value }}",
          "addressLocality": "{{ content.field_unita_org_responsabile['#items'][0].field_circoscrizione }}"
        }
      }
    }
  }
</script>