<div class="card card-teaser no-after rounded shadow-sm mb-0 border border-light h-100">{{ title_suffix }}

  <div class="container p-0 pb-5">
    <div class="row m-0 gap-3">

      <div class="col p-0">
        <div class="card-body">
          <div class="category-top d-flex gap-2">
            <svg class="icon">
              <use href="#it-share" xlink:href="#it-share"></use>
            </svg>
            <div class="title-xsmall-semi-bold fw-semibold mt-1">Punti di contatto</div>
          </div>
          <h3 class="card-title text-paragraph-medium u-grey-light">{{ label }}</h3>
        </div>
      </div>
    </div>

    <div class="row m-0 gap-3">
      <div class="col p-0">
        <div class="text-paragraph-card u-grey-light m-0 mb-2">
          {{ content.field_contatto }}
        </div>
      </div>
    </div>

    {% if drupal_view_result('persone_collegate', 'block_1', node.id) %}
    <div class="row mb-3 mx-0 mt-5">
      <div class="col p-0">
        <div class="text-paragraph-card u-grey-light m-0">{{ drupal_view('persone_collegate', 'block_1', node.id) }}</div>
      </div>
    </div>
    {% endif %}








    

  </div>

  {% if content.field_orari_note[0] is not empty or attribute(content.field_orari, "#items")|length %}
  <div class="position-absolute bottom-0 mb-3 start-0 end-0 ps-3 pt-0">
    <a class="btn btn-xs btn-primary card-title py-1 mx-2 mt-0" href="javascript: void(0);" data-bs-toggle="collapse" data-bs-target="#punto-di-contatto-{{ node.id }}" aria-expanded="false">Vedi orari <svg class="icon icon-sm rotable" fill="#fff" aria-hidden="true"><use href="#it-collapse" xlink:href="#it-collapse"></use></svg></a>
    <div id="punto-di-contatto-{{ node.id }}" class="position-absolute collapse text-paragraph-card u-grey-light m-0 bg-white start-0 end-0 p-3 rounded shadow-sm mb-0 border ms-3" style="z-index: 1; width: 80%;">
      <div class="mb-1">{{ content.field_orari_note[0] }}</div>
      {% for item in attribute(content.field_orari, "#items") %}
        <dl class="servizio-contatto-orari row mb-0">
          <dt class="col-6 text-nowrap"><span>{{ item.entity.field_orari_giorni.value }}</span></dt>
          <dd class="col-6">
            {% for item_ora in item.entity.field_orari_giorni.entity.field_fascia_oraria %}
                <span class="text-nowrap">{{ item_ora.entity.field_orari_fascia_oraria.from|date('H:i','UTC') }} - {{ item_ora.entity.field_orari_fascia_oraria.to|date('H:i','UTC') }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </dd>
        </dl>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
</div>