{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    "container",
    'mb-5'
  ]
%}

{% set calendarDisplays = {
    0 : "day_1",
    1 : "day_2",
    2 : "day_3",
    3 : "day_4",
    4 : "day_5",
    5 : "day_6",
    6 : "day_7",
  }
%}

{% if content.field_titolo[0] is not empty %}
<div class="container my-4">
  <h2 class="text-secondary">{{ content.field_titolo[0]['#context'].value }}</h2>
</div>
{% endif %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row row-calendar">
      <div class="it-carousel-wrapper it-carousel-landscape-abstract-four-cols it-calendar-wrapper splide" data-bs-carousel-splide>
        <div class="it-header-block">
          <div class="it-header-block-title">
            {% set currentMonth = "now"|date("M")|monthEn2It(false) %}
            {% set currentYear = "now"|date("Y") %}
            {% set currentDay = "now"|date("d")%}
            {% set currentDayName = "now"|date("D")|dayEn2It %}
            {% set interval = "+ " ~ 7 ~ " day" %}
            {% set newCurrentMonth = "now"|date_modify(interval)|date("M")|monthEn2It(false) %}
            {% set newCurrentYear = "now"|date_modify(interval)|date("Y") %}
            {% if newCurrentYear != currentYear %}
              <h3 class="mb-0 text-center home-carousel-title">{{ currentMonth ~ " " ~ currentYear ~ " - " ~ newCurrentMonth ~ " " ~ newCurrentYear }}</h3>
            {% elseif newCurrentMonth != currentMonth %}
              <h3 class="mb-0 text-center home-carousel-title">{{ currentMonth ~ "/" ~ newCurrentMonth ~ " " ~ currentYear }}</h3>
            {% else %}
              <h3 class="mb-0 text-center home-carousel-title">{{ currentMonth ~ " " ~ currentYear }}</h3>
            {% endif %}
          </div>
        </div>
        <div class="splide__track">
          <ul class="splide__list it-carousel-all">
            {% for i in 0..6 %}
              {% if i != 0 %}
                {% set interval = "+ " ~ i ~ " day" %}
                {% set currentDay = "now"|date_modify(interval)|date("d")%}
                {% set currentDayName = "now"|date_modify(interval)|date("D")|dayEn2It %}
              {% endif %}
              <li class="splide__slide">
                <div class="it-single-slide-wrapper h-100">
                  <div class="card-wrapper h-100">
                    <div class="card card-bg">
                      <div class="card-body">
                        <h4 class="card-title pb-4 mb-10">{{ currentDay }}<span>{{ currentDayName }}</span></h4>
                        {{ drupal_view("calendario", calendarDisplays[i]) }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock paragraph %}
