{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'd-flex',
    'gap-1'
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
      <span class="fw-bold">{{ content.field_tipo_punto_di_contatto[0] }}:</span>

      {% set tipo_punto_di_contatto %}{{ content.field_tipo_punto_di_contatto }}{% endset %}
      <p class="mb-0">
        {% for item in content.field_valore_punto_di_cont['#items'] %}
          {% if (tipo_punto_di_contatto|striptags|trim) == 'Email' %}
            {% set href = "mailto: " ~ item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'PEC' %}
            {% set href = "mailto: " ~ item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'Telefono' %}
            {% set href = "tel: " ~ item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'Linkedin' %}
            {% set href = item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'Telegram' %}
            {% set href = item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'Twitter' %}
            {% set href = item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'URL' %}
            {% set href = item.value %}
          {% elseif (tipo_punto_di_contatto|striptags|trim) == 'Whatsapp' %}
            {% set href = "https://wa.me/ " ~ item.value %}
          {% else %}
            {% set href = "#" %}
          {% endif %}
          <a class="text-break" href="{{ href }}">{{ item.value }}</a>{% if loop.last == false %}, {% endif %}
        {% endfor %}
      </p>
		{% endblock %}
	</div>
{% endblock paragraph %}