{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}

<fieldset{{ attributes.addClass(classes) }}>
  {%
    set legend_span_classes = [
      'fieldset-legend',
      required ? 'js-form-required',
      required ? 'form-required',
    ]
  %}

    <div class="cmp-card w-100">
      <div class="card has-bkg-grey shadow-sm p-big">
        <div class="card-header border-0 p-0 mb-lg-30">
          <div class="d-flex">
            <legend{{ legend.attributes }} id="applicant" class="title-xxlarge mb-0">
              <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
            </legend>
            {% if description_display == 'before' and description.content %}
              <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
            {% endif %}
            {% if errors %}
              <div class="form-item--error-message">
                <strong>{{ errors }}</strong>
              </div>
            {% endif %}
          </div>
        </div>
        {% if prefix %}
          <span class="field-prefix">{{ prefix }}</span>
        {% endif %}
        <div class="card-body p-0">
          <div class="form-wrapper bg-white p-4">
            {{ children }}
          </div>
        </div>
        {% if suffix %}
          <span class="field-suffix">{{ suffix }}</span>
        {% endif %}
        {% if description_display in ['after', 'invisible'] and description.content %}
          <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
        {% endif %}
      </div>
    </div>

</fieldset>
