{% macro menu_link(menu_item) %}
  {% if menu_item is defined and menu_item is not null %}
    {% if menu_item.content['#url'].external %}
      <a class="list-item" href="{{ menu_item.content['#url'].uri }}">
        <span class="text-button-normal">{{ menu_item.content['#title'] }}</span>
      </a>
    {% else %}
      <a class="list-item" href="{{ path(menu_item.content['#url'].routeName, menu_item.content['#url'].routeParameters, menu_item.content['#url'].options) }}">
        <span class="text-button-normal">{{ menu_item.content['#title'] }}</span>
      </a>
    {% endif %}
  {% endif %}
{% endmacro %}

{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      <li>
        {{ _self.menu_link(item, ) }}
      </li>
    {% endfor %}
  {% else %}
    {% for item in items %}
      <li>
        {{ _self.menu_link(item, ) }}
      </li>
    {% endfor %}
  {% endif %}
{% else %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      {% endif %}
      {% for item in items %}
        <li>
          {{ _self.menu_link(item, ) }}
        </li>
      {% endfor %}
      {% if multiple %}
    {% endif %}
{% endif %}
