{% macro menu_link(menu_item) %}
  {% set map = {
    'amministrazione': 'management',
    'novità': 'news',
    'servizi': 'all-services',
    'vivere il comune': 'live'
  } %}
  {% if menu_item.url.external %}
    <a class="nav-link" href="{{ menu_item.url.uri }}">{{ menu_item.title }}</a>
  {% elseif menu_item.url.routeName is same as "<nolink>" %}
    <span>{{ menu_item.title }}</span>
  {% elseif menu_item.url.routeName is same as "<button>" %}
    <button type="button">{{ menu_item.title }}</button>
  {% else %}
    <a href="{{ path(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }}"
      class="nav-link{{ menu_item.in_active_trail ? " active" : "" }}"
      data-element="{{ map[menu_item.title|lower] }}"
    >{{ menu_item.title }}
    </a>
  {% endif %}
  {# {{ path(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
  {# {{ url(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
{% endmacro %}

<nav aria-label="Principale">
  <ul class="navbar-nav" data-element="main-navigation">
    {% for item in attribute(content, "#items") %}
      <li class="nav-item">
        {{ _self.menu_link(item) }}
      </li>
    {% endfor %}
  </ul>
</nav>
