{% macro menu_link(menu_item) %}
  {% if menu_item.url.external %}
    <a href="{{ menu_item.url.uri }}">{{ menu_item.title }}</a>
  {% elseif menu_item.url.routeName is same as "<nolink>" %}
    <span>{{ menu_item.title }}</span>
  {% elseif menu_item.url.routeName is same as "<button>" %}
    <button type="button">{{ menu_item.title }}</button>
  {% else %}
    <a href="{{ path(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }}">
      {{ menu_item.title }}
    </a>
  {% endif %}
  {# {{ path(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
  {# {{ url(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
{% endmacro %}

<div class="footer-bottom">
  {% for item in attribute(content, "#items") %}
    {{ _self.menu_link(item) }}
  {% endfor %}
</div>