{% macro menu_link(menu_item) %}
  {% set map = {
  'leggi le faq': 'faq',
  'segnalazione disservizio': 'report-inefficiency',
  'informativa privacy': 'privacy-policy-link',
  'dichiarazione di accessibilità': 'accessibility-link',
  'note legali': 'legal-notes'
  } %}
  {% if menu_item is defined and menu_item is not null %}
    <a href="{{ menu_item.url.toString }}"
      data-element="{{ map[menu_item.title|lower] }}"
    >{{ menu_item.title }}
    </a>
  {% endif %}
  {# {{ path(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
  {# {{ url(menu_item.url.routeName, menu_item.url.routeParameters, menu_item.url.options) }} #}
{% endmacro %}


<div class="col-md-9 mt-md-4 footer-items-wrapper">
  <h3 class="footer-heading-title">Contatti</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="footer-info">
        {{ site_settings.infocomune.info_comune.field_contatti.value|raw }}
        {# {{ site_settings.infocomune.info_comune.field_contatti }} #}
      </div>
    </div>
    <div class="col-md-4">
      <ul class="footer-list">
      {% for anchor in content["#items"][0:4] %}
        <li>
          {{ _self.menu_link(anchor) }}
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="footer-list">
      {% for anchor in content["#items"][4:8] %}
        <li>
          {{ _self.menu_link(anchor) }}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>


