{%
  set classes = [
    is_front ? 'homepage',
  ]
%}
{{ page.header }}
<main{{ attributes.addClass(classes) }}>
  {{ page.content|without('title') }}
  {{ page.rating }}
  {{ page.contacts }}
</main>
{{ page.footer }}
<div class="visually-hidden">{{ bit_svg|raw }}</div>
<div class="visually-hidden">{{ logo_svg|raw }}</div>